<!-- row -->
<div class="row">
    <div class="col-sm-6">
        <!-- Logo -->
        <h1 class="logo"><a href="#"><img src="{{ asset('bundles/covoituragefrontend/images/logo.png') }}" class="img-responsive" alt="Navette.tn"/></a></h1>
        <!--/ Logo -->
    </div>
    <div class="col-sm-6">
        <!-- User Menu -->
        <div class="user-buttons buttons pull-right">
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-icon btn-icon-left btn-icon-checkout btn-red"  style="outline: medium none;" ><span>S'inscrire</span></a>
            <button type="button" class="btn btn-icon btn-icon-left btn-icon-login btn-green" href="#connexion-box" hidefocus="true" style="outline: medium none;" id="btn-connexion" data-toggle="modal" data-target="#loginModal"><span>Se connecter</span></button>
            {% endif %}
            {% if  is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('covoiturage_frontend_voyage_publish') }}" class="btn btn-icon btn-icon-left btn-icon-pencil btn-blue"  hidefocus="true" style="outline: medium none;" id="btn-connexion"><span>Publier</span></a>
                <a href="{{ path('covoiturage_frontend_voyage_user') }}" class="btn btn-icon btn-icon-left btn-icon-pencil btn-green"  hidefocus="true" style="outline: medium none;" id="btn-connexion"><span>Mes navettes</span></a>
                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-icon btn-icon-left btn-icon-checkout btn-green" title="Se déconnecter" hidefocus="true" style="outline: medium none;" id="btn-connexion">&nbsp;</a>
            {% endif %}
        </div>
        <!--/ User Menu -->
    </div>
</div>
<!--/ row -->