<meta charset="utf-8">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Covoiturage {% endblock %}</title>



<!-- Style CSS -->
<link href="{{ asset('bundles/covoituragefrontend/css/bootstrap.css') }}" media="screen" rel="stylesheet">
<link href="{{ asset('bundles/covoituragefrontend/css/style.css') }}" media="screen" rel="stylesheet">
<!-- styled select -->
<link rel="stylesheet" href="{{ asset('bundles/covoituragefrontend/css/cusel.css') }}">

<!-- Lightbox prettyPhoto -->
<link href="{{ asset('bundles/covoituragefrontend/css/prettyPhoto.css') }}" rel="stylesheet">

<!-- Multiselect (Chosen.js) -->
<link rel="stylesheet" href="{{ asset('bundles/covoituragefrontend/css/chosen.css') }}">