{# src/Acme/TaskBundle/Resources/views/Default/new_gov.html.twig #}

{#{ form(form) }#}
{%  if list_options|length > 0  %}
    {%  if select_field == 'gouvernorat' %}
    <select class="annonce_idGouvernorat select_styled blue" name="annonce[idGouvernorat]" data-placeholder="Choose a Gouvernorat..."> {% for option in list_options %}<option value="{{ option.id }}">{{ option.name }}</option>{% endfor %}</select>
    {%  elseif select_field == 'delegation' %}
    <select class="annonce_idDelegation select_styled blue" name="annonce[idGouvernorat]" data-placeholder="Choose a Delegation..."> {% for option in list_options %}<option value="{{ option.id }}">{{ option.name }}</option>{% endfor %}</select>
    {%  elseif select_field == 'localite' %}
    <select class="annonce_idLocalite select_styled blue" name="annonce[idLocalite]" data-placeholder="Choose a Localite..."> {% for option in list_options %}<option value="{{ option.id }}">{{ option.name }}</option>{% endfor %}</select>
    {% endif %}
{% else %}
    No suggestion
{% endif %}
