<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">


    <div class="form-group">
        <label class="col-lg-2 col-sm-2 col-xs-2 control-label">{{ form_label(form.username,'Login')}}</label>
        <div class="col-lg-10 col-sm-10 col-xs-10">
            {{ form_widget(form.username,{ 'attr' : {'class':'form-control','placeholder':'Login'}}) }}
            {{form_errors(form.username)}}
            <span class="help-block"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 col-sm-2 col-xs-2 control-label">{{ form_label(form.email,'Email')}}</label>
        <div class="col-lg-10 col-sm-10 col-xs-10">
            {{ form_widget(form.email,{ 'attr' : {'class':'form-control','placeholder':'Email'}}) }}
            {{ form_errors(form.email) }}
            <span class="help-block"></span>
        </div>
    </div>

        <div class="form-group">
            <label class="col-lg-2 col-sm-2 col-xs-2 control-label">{{ form_label(form.plainPassword.first, 'Mot de passe', { 'attr': {'class': 'form-label'} }) }}</label>
            <div class="col-lg-10 col-sm-10 col-xs-10">
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                {{form_errors(form.plainPassword.first)}}
                <span class="help-block"></span>
            </div>
        </div>

    <div class="form-group">
        <label class="col-lg-2 col-sm-2 col-xs-2 control-label">{{ form_label(form.plainPassword.second, 'Confirmation', { 'attr': {'class': 'form-label'} }) }}</label>
        <div class="col-lg-10 col-sm-10 col-xs-10">
            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
            {{form_errors(form.plainPassword.second)}}
            <span class="help-block"></span>
        </div>
    </div>

    {{form_rest(form)}}

    <button type="submit" id="_submit" name="_submit" class="btn btn-icon btn-icon-left btn-icon-checkout btn-green"><span>Inscription</span></button>





</form>