<article class="result">
    <div class="one-fourth heightfix"><img src="images/uploads/car.jpg" alt="" /></div>
    <div class="one-half heightfix">
        <h3>Private car <a href="javascript:void(0)" class="trigger color" title="Description">?</a></h3>
        <ul>
            <li>
                <span class="ico people"></span>
                <p>Dispo <strong>{{ voyage.getFreeReservations() }} places</strong> <br />libres</p>
            </li>
            <li>
                <span class="ico time"></span>
                <p>Estimated time <br /><strong>50 mins</strong></p>
            </li>
            <li>
                <span class="ico phone"></span>
                <p>Tél. <strong>{{ voyage.getUtilisateur().getTel() }}</strong></p>
            </li>
        </ul>
    </div>
    <div class="one-fourth heightfix">
        <script type="application/javascript">
            var urlVoyageResrvation = '{{ path("covoiturage_frontend_voyage_reservation") }}';
        </script>
        <div>
            <div class="price">{{ voyage.prix }} <small>DT</small></div>
            <span class="meta">par passager</span>
            {% if voyage.getFreeReservations() > 0  and (user_reservations[voyage.getId()] == 0) and app.user != voyage.getUtilisateur() %}
            <a href="booking-step1.html" onclick="reservation({{ voyage.getId() }})" class="btn grey large">réserver</a>
            {% endif %}
        </div>
    </div>
    <div class="full-width information">
        <a href="javascript:void(0)" class="close color" title="Close">x</a>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    </div>
</article>